$color_1: #600000;
$color_2: azure;
$color_3: rgb(206, 143, 25);
$color_4: #c7c7c7;
$color_5: #d19719;
$color_6: #da9f20f3;
$color_7: #FFEDCB;
$color_8: rgb(255, 255, 255);
$color_9: #fff;
$color_10: aliceblue;
$color_11: #da9f20;
$color_12: #835e10;
$font-family_1: 'Raleway', sans-serif;
$font-family_2: 'Radley', serif;
$font-family_3: sans-serif, sans-serif;
$background-color_1: #da9f20;
$background-color_2: #600000;
$background-color_3: #1F0C04;
$background-color_4: #69432a;
$background-color_5: rgba(255, 255, 255, 0.50);
$border-color_1: #da9f20;




@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.3em;
		opacity: 0;
	}
	20% {
		opacity: 0.6;
	}
	40% {
		opacity: 0.7;
	}
	60% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.3em;
		opacity: 0;
	}
	20% {
		opacity: 0.6;
	}
	40% {
		opacity: 0.7;
	}
	60% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}
/* Fin codigo animacion*/
/* Pagina Tienda */
@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.fondo-madera {
	background-image: url("./images/fondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.text-center {
	text-align: center;
}
header {
	background-color: $background-color_1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: fit-content;
	ul {
		li {
			a {
				text-decoration: none;
				color: $color_1;
				list-style: none;
			}
			text-decoration: none;
			color: $color_1;
			list-style: none;
		}
	}
}
.nav-animation {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background-color: $background-color_2;
		bottom: 0;
		right: 0;
		left: 0;
		height: 2px;
		width: 0;
		transition: width 0.25s ease-out;
	}
	&:hover {
		&::before {
			width: 100%;
		}
	}
}
.logo {
	margin-left: 1%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 0.5%;
	img {
		object-fit: cover;
	}
}
nav {
	margin-right: 1%;
	width: auto;
}
.nav-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10%;
	margin-right: 4%;
	font-family: $font-family_1;
	font-size: 125%;
}
.icon-log-in {
	width: 40px;
	height: auto;
}
.icon {
	width: 40px;
	height: auto;
}
.desplegar-lista {
	display: none;
	font-size: 20px;
	color: $color_1;
	float: left;
	line-height: 45px;
	margin-left: 10px;
}
#check-desplegar-lista {
	display: none;
}
.pie-pagina {
	padding: 5px;
	margin: 0px;
	font-size: 12px;
	background-color: $background-color_3;
	color: $color_2;
	display: flex;
	justify-content: space-between;
	font-family: $font-family_2;
	margin-top: auto;
	div {
		a {
			color: $color_2;
			margin: 6px;
			font-family: $font-family_2;
			text-decoration: none;
			&:visited {
				color: $color_2;
				margin: 6px;
				font-family: $font-family_2;
				text-decoration: none;
			}
		}
	}
	h4 {
		margin: 2px;
		font-size: 12px;
		align-items: center;
	}
}
.info-pie-pagina {
	align-self: center;
	font-size: 12px;
	margin-left: 15px;
}
.telefono-pie-pagina {
	display: flex;
	justify-content: center;
	margin: 3px;
	img {
		width: 15px;
		height: 15px;
	}
}
.pagina-principal {
	background-color: $background-color_3;
	background-image: url("./images/fondo1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.titulo-portada {
	color: $color_3;
	font-size: 7.5em;
	font-family: $font-family_1;
	text-align: end;
	margin-right: 2%;
	vertical-align: top;
	padding-top: 0;
	height: fit-content;
}
.pi {
	font-size: 1.48em;
	font-family: $font-family_3;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.servicios {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20%;
	margin-left: 20%;
	h1 {
		font-size: 3em;
		color: $color_6;
		text-align: center;
	}
}
.nuestros-productos {
	h1 {
		margin-bottom: 9px;
	}
}
.imagen-servicio {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 10px;
}
.imagen1 {
	grid-area: imagen1;
}
.imagen2 {
	grid-area: imagen2;
}
.imagen3 {
	grid-area: imagen3;
}
.imagen4 {
	grid-area: imagen4;
}
.imagen5 {
	grid-area: imagen5;
}
.imagen6 {
	grid-area: imagen6;
}
.tabla-servicio {
	grid-area: tabla-servicio;
}
.container-cervezas {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 3;
	grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" ". tabla-servicio .";
}
.pagina-tienda {
	width: 100%;
	height: auto;
	font-family: $font-family_2;
}
.servicio {
	background-color: $background-color_4;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	width: 250px;
	&:hover {
		box-shadow: 2px 1px 3px slategrey;
		img {
			-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
			animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
		}
	}
	p {
		color: $color_4;
		text-shadow: 1px 1px 2px #000;
	}
	h3 {
		color: $color_5;
		text-shadow: 1px 1px 2px #000000;
	}
}
h2 {
	color: $color_6;
	text-align: center;
}
.contratar-servicio {
	background-color: $background-color_4;
	border-radius: 10px;
	padding: 10px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20px;
	h2 {
		text-shadow: 1px 1px 2px #000;
		text-align: center;
		margin-bottom: 10px;
	}
}
.elem-form {
	button {
		font-family: $font-family_2;
	}
}
.seleccion-cervezas {
	margin: auto;
}
.form-tienda {
	.seleccion-cervezas {
		label {
			color: $color_3;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
		}
		input {
			border: 1px solid #DA9F20;
		}
	}
	.elem-form {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 250px;
		align-self: center;
		input {
			width: 100%;
			padding: 10px;
			border: 1px solid rgba(255, 255, 255, .25);
			background: rgba(255, 255, 255, 0.50);
			border-radius: 5px;
			outline: none;
			color: $color_7;
			font-size: 1em;
			&:valid {
				~ {
					label {
						color: $color_9;
						transform: translateX(10px) translateY(-20px);
						font-size: .85em;
						padding: 0 10px;
						background: #DA9F20;
						border-radius: 3px;
					}
				}
				border: 1px solid #DA9F20;
			}
			&:focus {
				~ {
					label {
						color: $color_9;
						transform: translateX(10px) translateY(-20px);
						font-size: .85em;
						padding: 0 10px;
						background: #DA9F20;
						border-radius: 3px;
					}
				}
				border: 1px solid #DA9F20;
			}
		}
		.mayus {
			text-transform: capitalize;
		}
		label {
			position: absolute;
			left: 0;
			padding: 10px;
			pointer-events: none;
			font-size: 1em;
			color: $color_8;
			transition: 0.5s;
		}
	}
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	gap: 15px;
	padding-top: 10px;
}
.main-nosotros {
	margin: 2% 0%;
	font-family: $font-family_2;
	h1 {
		text-align: center;
		font-size: 65px;
		color: $color_5;
		text-shadow: 1px 1px 2px #000000;
	}
	h3 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
}
.aboutUs {
	display: flex;
	gap: 8px;
	margin: 3%;
	justify-content: center;
	flex-wrap: wrap;
}
.nosotros-comienzo {
	display: flex;
	gap: 8px;
	margin: 3%;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 10px;
}
.nosotros-productos {
	display: flex;
	gap: 8px;
	margin: 3%;
	justify-content: center;
	flex-wrap: wrap;
}
.nosotros-imagen-1 {
	border-radius: 10px;
	width: 280px;
	object-fit: cover;
	border-radius: 20px;
}
.nosotros-imagen-2 {
	border-radius: 10px;
	width: 280px;
	object-fit: cover;
	border-radius: 20px;
}
.nosotros-comienzo-texto {
	border: 2px solid rgb(231, 133, 21);
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
	height: fit-content;
	width: 350px;
	color: $color_10;
}
.nosotros-productos-texto {
	border: 2px solid rgb(231, 133, 21);
	padding: 5px;
	border-radius: 10px;
	margin: 5px;
	height: fit-content;
	width: 350px;
	color: $color_10;
}
.form-soporte {
	h2 {
		padding-bottom: 15px;
	}
	display: flex;
	align-items: center;
	flex-direction: column;
	div {
		display: flex;
		justify-content: center;
		margin: 5px 0px;
	}
}
.pagina-soporte {
	main {
		display: flex;
		justify-content: center;
		font-family: $font-family_2;
	}
	fieldset {
		margin-top: 2%;
		width: fit-content;
		padding: 20px;
		border-color: $border-color_1;
		margin: 3% 25% auto 25%;
	}
	legend {
		font-size: 20px;
		color: $color_11;
	}
	input {
		width: 100%;
		background-color: $background-color_5;
		color: $color_7;
	}
	textarea {
		width: 100%;
		background-color: $background-color_5;
		color: $color_7;
	}
}
.titulo-input {
	font-size: 15px;
	color: $color_11;
}
.mensaje-input {
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 100px;
}
.div-enviar {
	button {
		font-family: $font-family_2;
	}
}
.div-inicio-sesion {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	min-width: 300px;
	max-width: 400px;
	padding: 20px 0px;
	margin: 5% auto 0px auto;
	border-radius: 10px;
	border: 2px solid #da9f20;
	font-family: $font-family_2;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	h2 {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}
	label {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}
	button {
		font-family: $font-family_2;
	}
}
.div-registro-cuenta {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	min-width: 300px;
	max-width: 400px;
	padding: 20px 0px;
	margin: 5% auto 0px auto;
	border-radius: 10px;
	border: 2px solid #da9f20;
	font-family: $font-family_2;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	h2 {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}
	label {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	}
	button {
		font-family: $font-family_2;
	}
}
.div-soporte {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	min-width: 300px;
	max-width: 400px;
	padding: 20px 0px;
	margin: 5% auto 0px auto;
	border-radius: 10px;
	border: 2px solid #da9f20;
	font-family: $font-family_2;
	font-family: $font-family_2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.div-form {
	label {
		span {
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
		}
		position: absolute;
		left: 0;
		padding: 10px;
		pointer-events: none;
		font-size: 1em;
		color: $color_8;
		transition: 0.5s;
	}
	position: relative;
	width: 250px;
	align-self: center;
	input {
		width: 100%;
		padding: 10px;
		border: 1px solid rgba(255, 255, 255, .25);
		background: rgba(255, 255, 255, 0.50);
		border-radius: 5px;
		outline: none;
		color: $color_7;
		font-size: 1em;
		&:valid {
			~ {
				label {
					color: $color_9;
					transform: translateX(10px) translateY(-7px);
					font-size: .85em;
					padding: 0 10px;
					background: #DA9F20;
					border-radius: 3px;
				}
			}
			border: 1px solid #DA9F20;
		}
		&:focus {
			~ {
				label {
					color: $color_9;
					color: $color_9;
					transform: translateX(10px) translateY(-7px);
					transform: translateX(10px) translateY(-7px);
					font-size: .85em;
					font-size: .85em;
					padding: 0 10px;
					padding: 0 10px;
					background: #DA9F20;
					background: #DA9F20;
					border-radius: 3px;
					border-radius: 3px;
				}
			}
			border: 1px solid #DA9F20;
		}
	}
	.mayus {
		text-transform: capitalize;
	}
	textarea {
		&:valid {
			~ {
				label {
					color: $color_9;
					transform: translateX(10px) translateY(-7px);
					font-size: .85em;
					padding: 0 10px;
					background: #DA9F20;
					border-radius: 3px;
				}
			}
			border: 1px solid #DA9F20;
			outline: 0;
		}
		&:focus {
			~ {
				label {
					color: $color_9;
					transform: translateX(10px) translateY(-7px);
					font-size: .85em;
					padding: 0 10px;
					background: #DA9F20;
					border-radius: 3px;
				}
			}
			border: 1px solid #DA9F20;
			outline: 0;
		}
	}
	.mail {
		&:invalid {
			~ {
				label {
					color: $color_9;
					transform: translateX(10px) translateY(-7px);
					font-size: .85em;
					padding: 0 10px;
					background: #DA9F20;
					border-radius: 3px;
				}
			}
		}
	}
}
.boton-inicio-sesion {
	margin-top: 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	border-style: none;
	margin: auto 0;
	background: rgba(255, 255, 255, 0.50);
	color: $color_9;
	cursor: pointer;
	&:hover {
		box-shadow: 5px 2px 1px #000;
	}
}
.boton-registro-cuenta {
	margin-top: 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	border-style: none;
	margin: auto 0;
	background: rgba(255, 255, 255, 0.50);
	color: $color_9;
	cursor: pointer;
	&:hover {
		box-shadow: 5px 2px 1px #000;
	}
}
.boton-enviar-soporte {
	margin-top: 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	border-style: none;
	margin: auto 0;
	background: rgba(255, 255, 255, 0.50);
	color: $color_9;
	cursor: pointer;
	&:hover {
		box-shadow: 5px 2px 1px #000;
	}
}
.boton-submit-tienda {
	margin-top: 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	border-style: none;
	margin: auto 0;
	background: rgba(255, 255, 255, 0.50);
	color: $color_9;
	cursor: pointer;
}
.inicio-cuenta {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.registro-cuenta {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-inicio-sesion {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	gap: 23px;
	padding-top: 12px;
}
.form-registrar-cuenta {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	gap: 23px;
	padding-top: 12px;
}
.registrarse {
	margin-top: 20px;
	display: block;
	text-align: center;
	margin-top: 1%;
	a {
		text-decoration: none;
		color: $color_5;
		&:hover {
			color: $color_12;
		}
	}
}
.logearse {
	display: block;
	text-align: center;
	margin-top: 1%;
	a {
		text-decoration: none;
		color: $color_5;
		&:hover {
			color: $color_12;
		}
	}
}
@media screen and (max-width: 425px) {
	.pagina-principal {
		background-image: url(./images/fondo320px.jpg);
		background-position: center;
	}
	nav {
		width: 100%;
		ul {
			li {
				a {
					display: block;
					line-height: 40px;
				}
			}
		}
	}
	header {
		display: flex;
	}
	.desplegar-lista {
		display: block;
	}
	.nav-bar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #DA9F20;
		top: 45px;
		left: -100%;
		text-align: center;
		transition: all .6s;
		gap: 6%;
	}
	#check-desplegar-lista {
		&:checked {
			~ {
				ul {
					left: 0;
					z-index: 3;
				}
			}
		}
		&:not(:checked) {
			~ {
				ul {
					z-index: 3;
				}
			}
		}
	}
	.icon {
		display: none;
	}
	.titulo-portada {
		font-size: 50px;
	}
	.container-cervezas {
		display: flex;
		flex-flow: row wrap;
		padding: 0px;
		justify-content: center;
		margin-bottom: 12px;
	}
	.servicios {
		margin: auto;
	}
	.nuestros-productos {
		h1 {
			font-size: 40px;
		}
	}
	.main-nosotros {
		h1 {
			font-size: 50px;
		}
	}
	.nosotros-comienzo-texto {
		width: 100%;
		font-size: 10px;
	}
	.nosotros-productos-texto {
		width: 100%;
		font-size: 10px;
	}
}
@media screen and (min-width: 426px) and (max-width: 768px) {
	.pagina-principal {
		background-image: url(./images/fondo768px.jpg);
		background-position: right;
		background-size: none;
	}
	nav {
		width: 100%;
		ul {
			li {
				a {
					font-size: 16px;
					.icon-log-in {
						scale: 0.8;
					}
				}
			}
		}
	}
	.nav-bar {
		display: flex;
		justify-content: flex-end;
		gap: 4%;
		margin-right: 2%;
		font-family: $font-family_1;
	}
	.container-cervezas {
		display: flex;
		flex-flow: row wrap;
		padding: 0px;
		justify-content: center;
		margin-bottom: 12px;
	}
	.servicios {
		margin: auto;
	}
	.titulo-portada {
		font-size: 100px;
	}
}
